.App {
  text-align: center;
}

#root {
  height: 100%;
}

html,
body {
  height: 100%;
  background-color: #e9d8a6;
  margin: 0;
  text-align: center;
}

textarea {
  margin: 10px;
}

.Journal-Entry {
  height: 250px;
  width: 50vw;
  font: 20px "Times New Roman", Times, serif;
  border-color: #9b2226;
}

.btn {
  margin: 25px;
}

h1 {
  color: #001219;
  margin: 50px;
}

p {
  text-align: center;
  color: #001219;
}

table {
  table-layout: fixed;
  width: 100%;
  height: 30vh;
  border-collapse: collapse;
  background-color: #ffffff;
  text-align: center;
}

tr:hover {
  background-color: #e9ecef;
}

.results-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.results-item {
  margin: 40px;
}

th,
td {
  padding: 20px;
  border: 3px solid #005f73;
  font-size: 1.4vw;
}


#scatter {
  height: 50;
  width: auto;
}

.question-mark {
  font-size: 45px;

}

.navbar {
  background-color: #ca6702;
}

.nav-container {
  background-color: #bb3e03;
  overflow: hidden;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  list-style-type: none;
}

.nav-item {
  display: inline;
  padding: 10px 15px;
  border-collapse: collapse;
}

.nav-link,
.navbar-brand {
  color: black;
}

.nav-link:hover,
.navbar-brand:hover {
  color: white;
}

.alert {
  margin: 0 auto;
  width: 50%;
}

.characters {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  text-align: end;
}

.form-control {
  margin: 0 auto;
}

.outer-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 50%;
  border: 1px solid#005f73;
  padding: 10px;
}


.form-label {
  float: left;
  margin: 5px;
}

.open-eye {
  float: right;
  font-size: 20px;
}

#forgot-password {
  float: left;
}